h1{
    color: palevioletred;
    border: 1px dashed black;
    width: 200px;
    font-family: "Comic Sans MS", serif;
}

h3{
    color: palevioletred;
    font-size: smaller;
    font-family: "Comic Sans MS", serif;
}
body{
    background-color: paleturquoise;
}
div{
    font-size: large;
    color:palevioletred;
    font-family: "Comic Sans MS", serif;
}

.img {
    width:304px;
    height:228px;
}